/**** Custom CSS for Chowtime ****/

/* Overall Styles */
html {
	background: #bdc3e7 url(../images/skytime.jpg) no-repeat center center fixed;
	background-size: cover;
	align-items: center;
}

.clock {
	width: 20rem;
	height: 20rem;
	border: 10px solid white;
	border-radius: 50%;
	margin: 50px auto;
	position: relative;
	padding: 2rem;
	box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px); /*this is to account for the clock hands height*/
}

.hand {
	width: 50%;
	height: 6px;
	background: black;
	position: absolute;
	top: 50%;
	transform-origin: 100%; /*moves the hand to start at the far-right hand side. */
	transform: rotate(90deg);
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
